
body {
 font-family: 'Monserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #377BB5;
}
.btn.btn-primary {
  background-color: #377BB5;
}

.edit {
  display: flex;
  justify-content: space-between;
}
